@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    background: #577590;
}

.header{
    height: 4rem;
    background-color: #D78A76;
}

.btn{
    background-color: #797979;
}

.footer{
    display: flex;
    background-color: #D78A76;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    flex-grow: 0;
}

.footer a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px black;
}

.footer a:hover{
    color: rgb(169, 169, 169)
}